/*=============== 
credit-form
==================*/

section.credit-form {
   width: 100%;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
}

.container .box-info {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

span {
   color: #c80000;
   font-size: 3.6rem;
   margin-top: 10px;
   padding: 4px 15px 5px 10px;
   margin-bottom: 10px;
}

.container form {
   width: 90%;
   background-color: rgb(255, 255, 255);
   padding: 2rem 3.3rem; /*preenchimento*/
   margin: 30px;
   border-radius: 8px;
}

.container form h1 {
   font-size: 36px;
}

.container form fieldset {
   margin-top: 0px;
   border: 0;
}

.container form legend {
   margin-bottom: 7px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.container form legend h2 {
   margin-bottom: 3rem;
   font-size: 20px;
}

.container form legend span {
   font-size: 14px;
   color: blue;
}

.field {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.field-group {
   display: flex;
}

.container form input,
form select {
   background-color: #f0f0f5;
   border: 0;
   padding: 12px 10px;
   font-size: 14px;
   border-radius: 8px;
}

.container form select {
   -webkit-appearence: none;
   -moz-appearance: none;
   appearance: none;
}

.container form input:focus,
form textarea:focus,
form select:focus {
   border: 1px solid #88bbeb;
   box-shadow: 0 0 0 0.2rem rgba(95, 80, 114, 0.25);
}

.container form label {
   font-size: 14px;
   margin-bottom: 7px;
}

.field-group .field + .field {
   margin-left: 24px;
}

.button {
   flex: 1;
   color: white;
   text-decoration: none;
   padding: 19px 0px;
   font-size: 2rem;
   font-weight: bold;
   background-color: darkcyan;
   border-radius: 8px;
   border: 0;
   transition: background-color 400ms;
}

.button:hover {
   opacity: 0.8;
}

.field-group .button + .button {
   margin-left: 24px;
}

.container form button:hover {
   background-color: #0380f5;
}

@media (max-width: 600px) {
   .container form {
      width: 100%;
      margin: 10px;
   }

   .upload-photo {
      width: 100%;
   }
}

@media (max-width: 800px) {
   section.credit-form .container {
      height: 100%;
      padding: 1rem;
      justify-content: center;
   }

   .field-group {
      flex-direction: column;
   }

   .field-group .field + .field {
      margin-left: 0;
   }

   .field-group .button + .button {
      margin-left: 0;
      margin-top: 3rem;
   }
}
