.credit-card {
   width: 95%;

   margin-top: 10px;
   margin-bottom: 10px;

   border-radius: 8px;
   border: 1px solid #c3c3c3;
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
   display: flex;
   padding: 15px;
   align-items: flex-start;
}

.credit-card__image {
   max-width: 100px;
   margin-right: 20px;
}

.credit-card__info {
   flex-grow: 1;
}

.credit-card__title {
   display: flex;
   justify-content: space-between;

   font-size: 14px;
   color: #2c3e50;
}

.credit-card__phone {
   font-size: 26px;
   font-weight: 700;
   color: #3498db;
   padding: 0px;
}

.credit-card__footer {
   display: flex;
   align-items: center;
}

.credit-card__email {
   color: #95a5a6;
   font-size: 1.5rem;
   font-weight: 700;
   max-width: 345px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.credit-card__actions {
   margin-left: auto;
   margin-right: 20px;
   border: unset;
}

.credit-card__link {
   border: 1px solid #3498db;
   border-radius: 4px;
   color: #3498db;
   text-decoration: none;
   padding: 8px 10px;
   margin-left: 10px;
   background-color: unset;
   white-space: nowrap;
}

.credit-card__link:hover {
   color: #fff;
   background-color: #3498db;
}

.credit-card__edit-button {
   border: 1px solid #3498db;
   border-radius: 4px;
   color: #3498db;
   text-decoration: none;
   padding: 8px 10px;
   margin-left: 10px;
}

.col50 {
   width: 50%;
}

.message-modal__title {
   font-size: 2.5rem;
   color: red;
   margin-top: 10px;
   margin-bottom: 15px;
   text-align: center;
}

.message-motal__text {
   color: #2c3e50;
   text-align: center;
   font-size: 16px;
   padding: 10px;
}

.message-modal-buttons {
   display: flex;
   justify-content: center;
}

.message-modal__button {
   text-decoration: none;
   padding: 10px 20px;
   font-size: 1.9rem;
   color: white;
   font-weight: bold;

   height: 40px;
   background-color: #415886;
   border-radius: 8px;
   border: 0;
   transition: background-color 400ms;
   margin-bottom: 15px;
}

.message-modal__button:hover {
   opacity: 0.8;
}
