.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pages {
  font-size: 12px;
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  padding: 8px 10px;
  margin-left: 10px;
}

.pagination .item {
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  padding: 8px 10px;
  margin-left: 10px;
  text-decoration: none;
}

.pagination .active {
  color: white;
  background-color: #4caf50;
}

.pagination .item:hover:not(.active) {
  color: white;
  background-color: #3498db;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  .pagination {
    width: 100%;
    justify-content: space-between;
  }

  .pagination .pages {
    font-size: 16px;
  }

  .pagination .item {
    font-size: 16px;
  }
}
